<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #333;
}

.subtitle {
  color: #666;
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}
</style>
<body>
  <div class="container">
    <h1>Oops</h1>
    <h1>It looks like we need additional verification!</h1>
    <br>
    <p class="subtitle">Let's get started!</p>
    <div class="button-container">
      <a href = "/id_verify_route"><button class="btn">Start verification</button></a>
    </div>
  </div>
  </body>