<!DOCTYPE html>
<html>
<head>
  <title>Face and ID Comparison Result</title>
</head>
<body>
  <h1>Face and ID Comparison Result</h1>
  <p>ID Text: {{idText}}</p>
  <p>Face Match: {{#if faceMatch}}Match{{else}}No Match{{/if}}</p>
</body>
</html>